.navbar {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li{
  float: left;
}

.navbar li a {
  display: block; 
  color: 000; 
  text-align: center; 
  padding: 14px 16px; 
  text decoration: none; 
  text-align: center;
}

.navbar li a:hover {
  background-color: #111; 
  color: white;
} 

.ordered {
  background: #FD8A00;
  padding: 20px;
  width: 20%;
  font-family: 'Brush Script MT', cursive;
  font-size: 1.3em;

}

.ordered li {
  background: #FFCF95;
  padding: 5px;
  margin-left: 20px;

}

.custom-box-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

.custom-box-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;

}

.custom-box-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(105,105,105);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;

}

.list-image {
  list-style: none;
  padding-left: 0;

}

.list-image li {
  position: relative;
  padding-left: 30px;
  line-height: 170%;

}

.list-image {
  list-style: none;
  padding-left: 0;

}

.list-image li {
  position: relative;
  padding-left: 30px;
  line-height: 170%;

}

.list-image li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('cat (1)');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%)

}





.popular-sites {
  list-style: none;
  padding-left: 0;

}

.popular-sites li {
  position: relative;
  padding-left: 30px;
  line-height: 170%;

}

.popular-sites li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('pink-cosmos');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%)

}


table, th,td {

border: 1px solid black;

border-collapse: collapse;

}

th,td {

padding: 15px;

text-align: center;

}

caption {

caption-side: bottom;

text-align: center;

font-style: italic;

font-weight: bold;

color: black;

}

.table-simple th {

background-color: black;

color: white;

}

.table-simple tr:nth-child(even) {

background-color: #ececec;

}

.table-simple tr:nth-child(odd) {

background-color: #fff;

}

.table-simple tr:hover {

background-color: #acffe3;

<<<<<<< HEAD:css/navigation.css
}
=======
}

.head-body-foot thead {

color: purple;

background-color: rgb(243, 136, 13);

}

.head-body-foot tbody {

color: rgb(182, 212, 182);

font-weight: bold;

background-color: rgb(68, 39, 177);

}

.head-body-foot tfoot {

color: rgb(5, 4, 0);

background-color: rgb(227, 231, 233);

font-weight:bold ;

}

.head-body-foot thead:hover {

background-color: #acffe3;
}


.scroll-bar {
  overflow-x: auto; 
}

.table-image {

margin: 0 auto;

}


.myown {
  background-color: #fef0ff;
  border-color: #3a203c;
  border-style: double;
  color: #590769;
}
</style>
  
